<html>
    <head>
        <%- include('partials/head') %>
    </head>
    <body>
        <div class="join-section">
            <div class="header">            
                <h1>회원가입</h1>
                <hr>
            </div>
            
            <!-- 로그인 Form 작성부를 채우세요 / bootstrap참고 -->
            <form class="join-form" action="/login" method="POST">
                <input class="newitem-form" type="text" name="email_account" placeholder="이메일을 입력하세요">  <br>
                <input class="newitem-form" type="text" name="password_account" placeholder="비밀번호를 입력하세요">  <br>
                <input class="newitem-form" type="text" name="password_account2" placeholder="비밀번호를 다시 한번 입력하세요">
                <input class="btn btn-primary newitem-btn" type="submit">
            </form>

        </div>
    </body>

</html>
